data.csv filter=lfs diff=lfs merge=lfs -text
reduced.csv filter=lfs diff=lfs merge=lfs -text
models/models/knn.pickle filter=lfs diff=lfs merge=lfs -text
models/models/logistic.pickle filter=lfs diff=lfs merge=lfs -text
models/models/randomForest.pickle filter=lfs diff=lfs merge=lfs -text
